.carousel-control-prev {
    top: 40px;
    left: 0;
    background-color: lightblue;
}
span.carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
}
.carousel-control-next {
    top: 40px;
    left: 0;
    background-color: lightblue;
}
span.carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
}


.about-me {
    width: 84%;
    margin: 0 auto;
}

#carouselId {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}